*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
    cursor: url("fondo-f.png"), auto;
}
body{
background: black;
}
.cursor{
    cursor: url("sinfondo-c.png"),auto;
    background-color: beige;
}
.cursor:hover{
    background-color: aqua;
}